<h1>Edit <%= @bottle.name %></h1>

<form action="/bottles/<%= @bottle.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Name</label>
  <input type="text" name="bottle[name]" id="name" value="<%= @bottle.name %>"/>

  <label for="brand">Brand</label>
  <input type="text" name="bottle[brand]" id="brand" value="<%= @bottle.brand %>"/>

  <label for="variety">Variety</label>
  <input type="text" name="bottle[variety]" id="variety" value="<%= @bottle.variety %>"/>

  <label for="description">Description</label>
  <input type="textarea" name="bottle[description]" id="description" value="<%= @bottle.description %>"/>

  <label for="note">Note</label>
  <input type="textarea" name="bottle[note]" id="note" value="<%= @bottle.note %>"/>

  <input type="submit" value="Submit">
</form>

<form action="/bottles/<%= @bottle.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>
